/************** main adjustments **************/

@media (min-width: 780px) {
    .containerIndex {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 10px; /* Space between items */
        place-items: center;
        padding: 15px 15px 30px 30px;
        margin: 10px 10px 30px 30px;
    }
}
@media (max-width: 780px) {
    .containerIndex {
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(100px, auto));
        gap: 10px; /* Space between items */
        place-items: center; 
        padding: 15px;
    }
}

.custom-text-block {
    justify-content: center;
    text-align: center;
    place-items: center;
    flex-direction: column;
    display: flex;
    min-height: 200px;
    max-width: 100%;
    border: 2px solid #dcdcdc; 
    padding: 20px;
    background-color: #a0a0a0;
    border-radius: 8px; /* Abgerundete Ecken */
    margin: 15px;
}

.centered {
    justify-content: center;
    display: flex;
    place-items: center;
    text-align: center;
    max-width: 100%;
}

.custom-text-block-Quiz {
    text-align: center;
    place-items: center;
    flex-direction: column;
    display: flex;
    min-height: 200px;
    max-width: 70%;
    border: 2px solid #dcdcdc; 
    padding: 20px;
    background-color: #a0a0a0;
    border-radius: 8px; /* Abgerundete Ecken */
    margin: 15px;
}

@media (min-width: 780px) {
    .responsive-img {
        width: 100%; 
        margin: 20px; 
        padding: 0;
        justify-content: center;
    }
}
@media (max-width: 780px) {
    .responsive-img {
        width: 75%; 
        margin: 20px 5px 10px; 
        padding: 0;
        justify-content: center;
    }
}


button, input[type="submit"] {
    margin: 10px 10px 20px 20px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

.section {
    margin-top: 25px;
    padding: 0.5rem 2rem 1rem 2rem;
    border-radius: 0.3rem;
}

.section:hover {
    background-color: #808080e7;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.not-clickable {
    pointer-events: none;
    opacity: 0.6;
}

.not-clickable-correct {
    pointer-events: none;
}

.correct {

}
.feedback {

}
.incorrect {

}

.blinking-text {
    animation: blinkAnimation 1s step-start infinite;
}

@keyframes blinkAnimation {
    50% { opacity: 0; }
}